	/*** 
====================================================================
  Faq category tree css
====================================================================
***/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background-color:transparent;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.ajax-dt {
  position: relative;
}

.ajax-dt .table-responsive>.table-bordered {
  border: 1px solid #dee2e6;
}
.ajax-dt .dataTables_processing_wrapper {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  margin-top: 20px;
  background-color: rgba(95, 95, 95, 0.6);
}

.ajax-dt .dataTables_processing_wrapper .dataTables_processing {  
  position: relative;
  top: 50%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  padding-top: 8px;
  margin-top: -20px;
}