<footer class="mt-3">
    <div id="subscriber">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="d-flex">
                            <input class="form-control" type="text" placeholder="Enter Your Email" name="subscriber_email">
                            <button class="btn btn-blue px-4" type="submit"><span>SUBSCRIBE TO OUR MAILING LIST</span><span><img src="assets/svg/send.svg" alt="send" width="25"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <h4 class="footer-title">Quick Links</h4>
                    <ul class="footer-navigation">
                        <li>
                            <?php echo $this->Html->link('Home',array('controller'=>'pages','action'=>'display','plugin'=>false),array('title'=>'Home'));?>
                            <!-- <a href="javascript:;">Home</a> -->
                        </li>
                        <li><a href="javascript:;">Weekend</a></li>
                        <li><a href="javascript:;">Destinations</a></li>
                        <li>
                            <?php echo $this->Html->link('Travel Articles',array('plugin'=>'','controller'=>'articles','action'=>'index','admin'=>false),array("class"=>"nav-item-link"));
                            ?>
                        </li>
                        <li><a href="javascript:;">Holiday Themes</a></li>
						<li>
                        <?php echo $this->Html->link('Terms of use', array('plugin'=>'','controller'=>'pages','action'=>'termsofuse','admin'=>false),array("class"=>"nav-item-link"));?>
						</li>
						<li>
							<?php echo $this->Html->link('Privacy policies', array('plugin'=>'','controller'=>'pages','action'=>'privacypolicies','admin'=>false),array("class"=>"nav-item-link"));?>
						</li>
		
                    </ul>
                </div>
				
                <div class="col-lg-5 col-12">
                    <h4 class="footer-title">About Us</h4>
                    <p>Vacdo connects travelers to the places they love and provides correct guidance about each destination they are going visit.</p>
                </div>
                <div class="offset-lg-1 col-lg-3 col-12">
                    <h4 class="footer-title">Follow Us On</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <g>
                                        <path class="active-path" d="m297.277344 508.667969c-2.132813.347656-4.273438.667969-6.421875.960937 2.148437-.292968 4.289062-.613281 6.421875-.960937zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m302.398438 507.792969c-1.019532.1875-2.039063.359375-3.058594.535156 1.019531-.175781 2.039062-.347656 3.058594-.535156zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m285.136719 510.339844c-2.496094.28125-5.007813.53125-7.527344.742187 2.519531-.210937 5.03125-.460937 7.527344-.742187zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m290.054688 509.738281c-1.199219.160157-2.40625.308594-3.609376.449219 1.203126-.140625 2.410157-.289062 3.609376-.449219zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m309.367188 506.410156c-.898438.191406-1.800782.382813-2.703126.566406.902344-.183593 1.804688-.375 2.703126-.566406zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m326.664062 502.113281c-.726562.207031-1.453124.402344-2.179687.605469.726563-.203125 1.453125-.398438 2.179687-.605469zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m321.433594 503.542969c-.789063.207031-1.582032.417969-2.375.617187.792968-.199218 1.585937-.40625 2.375-.617187zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m314.589844 505.253906c-.835938.195313-1.679688.378906-2.523438.566406.84375-.1875 1.6875-.371093 2.523438-.566406zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m277.527344 511.089844c-1.347656.113281-2.695313.214844-4.046875.304687 1.351562-.089843 2.699219-.191406 4.046875-.304687zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m512 256c0-141.363281-114.636719-256-256-256s-256 114.636719-256 256 114.636719 256 256 256c1.503906 0 3-.03125 4.5-.058594v-199.285156h-55v-64.097656h55v-47.167969c0-54.703125 33.394531-84.476563 82.191406-84.476563 23.367188 0 43.453125 1.742188 49.308594 2.519532v57.171875h-33.648438c-26.546874 0-31.6875 12.617187-31.6875 31.128906v40.824219h63.476563l-8.273437 64.097656h-55.203126v189.453125c107.003907-30.675781 185.335938-129.257813 185.335938-246.109375zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m272.914062 511.429688c-2.664062.171874-5.339843.308593-8.023437.398437 2.683594-.089844 5.359375-.226563 8.023437-.398437zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m264.753906 511.835938c-1.414062.046874-2.832031.082031-4.25.105468 1.417969-.023437 2.835938-.058594 4.25-.105468zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <g>
                                        <path class="active-path" d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm116.886719 199.601562c.113281 2.519532.167969 5.050782.167969 7.59375 0 77.644532-59.101563 167.179688-167.183594 167.183594h.003906-.003906c-33.183594 0-64.0625-9.726562-90.066406-26.394531 4.597656.542969 9.277343.8125 14.015624.8125 27.53125 0 52.867188-9.390625 72.980469-25.152344-25.722656-.476562-47.410156-17.464843-54.894531-40.8125 3.582031.6875 7.265625 1.0625 11.042969 1.0625 5.363281 0 10.558593-.722656 15.496093-2.070312-26.886718-5.382813-47.140624-29.144531-47.140624-57.597657 0-.265624 0-.503906.007812-.75 7.917969 4.402344 16.972656 7.050782 26.613281 7.347657-15.777343-10.527344-26.148437-28.523438-26.148437-48.910157 0-10.765624 2.910156-20.851562 7.957031-29.535156 28.976563 35.554688 72.28125 58.9375 121.117187 61.394532-1.007812-4.304688-1.527343-8.789063-1.527343-13.398438 0-32.4375 26.316406-58.753906 58.765625-58.753906 16.902344 0 32.167968 7.144531 42.890625 18.566406 13.386719-2.640625 25.957031-7.53125 37.3125-14.261719-4.394531 13.714844-13.707031 25.222657-25.839844 32.5 11.886719-1.421875 23.214844-4.574219 33.742187-9.253906-7.863281 11.785156-17.835937 22.136719-29.308593 30.429687zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <g>
                                        <path class="active-path" d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 0 512 512" width="512px">
                                    <g>
                                        <path class="active-path" d="m305 256c0 27.0625-21.9375 49-49 49s-49-21.9375-49-49 21.9375-49 49-49 49 21.9375 49 49zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m370.59375 169.304688c-2.355469-6.382813-6.113281-12.160157-10.996094-16.902344-4.742187-4.882813-10.515625-8.640625-16.902344-10.996094-5.179687-2.011719-12.960937-4.40625-27.292968-5.058594-15.503906-.707031-20.152344-.859375-59.402344-.859375-39.253906 0-43.902344.148438-59.402344.855469-14.332031.65625-22.117187 3.050781-27.292968 5.0625-6.386719 2.355469-12.164063 6.113281-16.902344 10.996094-4.882813 4.742187-8.640625 10.515625-11 16.902344-2.011719 5.179687-4.40625 12.964843-5.058594 27.296874-.707031 15.5-.859375 20.148438-.859375 59.402344 0 39.25.152344 43.898438.859375 59.402344.652344 14.332031 3.046875 22.113281 5.058594 27.292969 2.359375 6.386719 6.113281 12.160156 10.996094 16.902343 4.742187 4.882813 10.515624 8.640626 16.902343 10.996094 5.179688 2.015625 12.964844 4.410156 27.296875 5.0625 15.5.707032 20.144532.855469 59.398438.855469 39.257812 0 43.90625-.148437 59.402344-.855469 14.332031-.652344 22.117187-3.046875 27.296874-5.0625 12.820313-4.945312 22.953126-15.078125 27.898438-27.898437 2.011719-5.179688 4.40625-12.960938 5.0625-27.292969.707031-15.503906.855469-20.152344.855469-59.402344 0-39.253906-.148438-43.902344-.855469-59.402344-.652344-14.332031-3.046875-22.117187-5.0625-27.296874zm-114.59375 162.179687c-41.691406 0-75.488281-33.792969-75.488281-75.484375s33.796875-75.484375 75.488281-75.484375c41.6875 0 75.484375 33.792969 75.484375 75.484375s-33.796875 75.484375-75.484375 75.484375zm78.46875-136.3125c-9.742188 0-17.640625-7.898437-17.640625-17.640625s7.898437-17.640625 17.640625-17.640625 17.640625 7.898437 17.640625 17.640625c-.003906 9.742188-7.898437 17.640625-17.640625 17.640625zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                        <path class="active-path" d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm146.113281 316.605469c-.710937 15.648437-3.199219 26.332031-6.832031 35.683593-7.636719 19.746094-23.246094 35.355469-42.992188 42.992188-9.347656 3.632812-20.035156 6.117188-35.679687 6.832031-15.675781.714844-20.683594.886719-60.605469.886719-39.925781 0-44.929687-.171875-60.609375-.886719-15.644531-.714843-26.332031-3.199219-35.679687-6.832031-9.8125-3.691406-18.695313-9.476562-26.039063-16.957031-7.476562-7.339844-13.261719-16.226563-16.953125-26.035157-3.632812-9.347656-6.121094-20.035156-6.832031-35.679687-.722656-15.679687-.890625-20.6875-.890625-60.609375s.167969-44.929688.886719-60.605469c.710937-15.648437 3.195312-26.332031 6.828125-35.683593 3.691406-9.808594 9.480468-18.695313 16.960937-26.035157 7.339844-7.480469 16.226563-13.265625 26.035157-16.957031 9.351562-3.632812 20.035156-6.117188 35.683593-6.832031 15.675781-.714844 20.683594-.886719 60.605469-.886719s44.929688.171875 60.605469.890625c15.648437.710937 26.332031 3.195313 35.683593 6.824219 9.808594 3.691406 18.695313 9.480468 26.039063 16.960937 7.476563 7.34375 13.265625 16.226563 16.953125 26.035157 3.636719 9.351562 6.121094 20.035156 6.835938 35.683593.714843 15.675781.882812 20.683594.882812 60.605469s-.167969 44.929688-.886719 60.605469zm0 0" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Ⓒ <?= date('Y')?> All Rights Reserved by vacdoo.com</p>
        </div>
    </div>
</footer>