<!--Footer Section Start -->
<section class="footer-main text-white py-3">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 col-lg-3">
				<h4>About Us</h4>
				<p>
					Vacdo connects travelers to the places they love and provides correct guidance about each destination they are going visit.
				</p>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 ">
				<h4>Housecare Services</h4>
				<div class="row">
					<div class="col-md-12">
						<ul class="footer-link">
							<li><a href="#">Modern Equipments</a></li>
							<li><a href="#">Critical Treatments</a></li>
							<li><a href="#">Service Policies</a></li>
							<li><a href="#">Procedures</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 ">
				<h4>Important Links</h4>
				<div class="row">
					<div class="col-md-12">
						<ul class="footer-link">
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Testimonials</a></li>
							<li><?php echo $this->Html->link("Services",array('controller'=>'pages','action'=>'services','admin'=>false));?></li>
							<li><a href="#">Appointments</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 ">
				<h4>Contact Us</h4>
				<div class="contact-item">
					<div class="icon"><i class="fa fa-map-marker"></i></div>
					<div class="text">362-Earth Eon, Sama-Savli Road, Sama, Vadodara-390008</div>
				</div>
				<div class="contact-item">
					<div class="icon"><i class="fa fa-phone"></i></div>
					<div class="text">+91 99250 83003</div>
				</div>
				
				<div class="contact-item">
					<div class="icon"><i class="fa fa-envelope"></i></div>
					<div class="text">support@vacdo.in</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer Main End -->
<!-- Footer Bottom Start -->
<div class="copyright py-2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 ">
				Copyright &copy; <?php echo date('Y'); ?>, vacdo.in. All Rights Reserved.
			</div>
			<div class="col-md-6 ">
				<ul class="list-inline float-right">
					<li class="list-inline-item"><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="#" class="text-white"><i class="fa fa-pinterest"></i></a></li>
					<li class="list-inline-item"><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="#" class="text-white"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Footer Bottom End -->
<a href="#" class="scrollup">
	<i class="fa fa-angle-up"></i>
</a>