<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts.Email.html
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title><?php echo $this->fetch('title'); ?></title>
<style>
	.main{border:2px solid #555; padding:10px 10px}
	.signature{font-weight:bold;margin:10px 10px}
</style>
</head>
<body>
	<div class="main">
		<table class="" width="100%" style="" border="0">
			<tr>
				<td><?php echo $this->Html->image("logo.png"); ?></td>
			</tr>
			<tr>
				<td><?php echo $this->fetch('content'); ?></td>
			</tr>
		</table>
	</div>
</body>
</html>