<div class="container mb-3">
	<div class="row">
		<div id="<?php echo $key; ?>" class="<?php echo !empty($params['class']) ? $params['class'] : 'bg-warning'; ?>">
			<span class="border-success border-bottom w-100 d-inline-block">Message success</span>
			<?php echo $message; ?>
		</div>
	</div>
</div>
