.controller {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.controller h3 {
    background: #efefef;
    padding: 10px;
    color: #000;
    font-weight: bold;
}
.controller h3 span.small-title {
	font-size: 14px;
	font-weight: normal;
}
.controller h3 span.check-all {
    float: right;
    font-weight: normal;
    display: inline-flex;
}
.action-list {
	display: block;
	padding: 15px;
}
.action-list .action {
    width: 33%;
    float: left;
    display: inline-block;
    padding: 0;
    clear: none;
}
.controller input[type=checkbox] {
    margin: 5px 6px 7px 2px;
}

.paging {
	float: right;
}

.paging span {
	color: #67757c;
    border: 1px solid #ddd;
    padding: 10px 0;    
}

.paging span a {
	padding: 10px 15px;
}

.paging span a:hover {
	color: #ffffff;
    background-color: #1976d2;
}

.paging span.disabled {
	cursor: default;
	padding: 10px 15px;
}

.paging span.current {
    color: #ffffff;
    border: 1px solid #1976d2;
    background-color: #1976d2;
    padding: 10px 15px;
}