@import url(fonts.css);
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 42px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #c7c7c7; }
  .nice-select:after {
    border-bottom: 2px solid #c7c7c7;
    border-right: 2px solid #c7c7c7;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    max-height: 200px;
    overflow-y: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #c7c7c7;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #fafafa; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #c7c7c7;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  /*display: none;*/ }

.no-csspointerevents .nice-select.open .list {
  display: block; }

body {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: normal;
  color: #1e1e1e;
  overflow-x: hidden; }
  @media screen and (max-width: 991px) {
    body {
      font-size: 13px; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /*font-weight: bold;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

p {
  margin: 0; }

a, a:hover, a:active, a.nice-select.open, a:focus {
  outline: none;
  text-decoration: none; }

a, img, h1, h2, h3, h4, h5, h6 {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.wrapper {
  max-width: 100%; }
  @media screen and (min-width: 1600px) {
    .wrapper .container {
      max-width: 1440px; } }

::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2; }

::-webkit-scrollbar-thumb {
  background: rgba(178, 178, 178, 0.8);
  border-radius: 0; }

::-webkit-scrollbar-track {
  border-radius: 0; }

.c-white {
  color: #ffffff; }

.c-blue {
  color: #296679; }

.c-orange {
  color: #f54f1d; }
.vacdoo-bg-light-grey{
  background-color: #7da7a5;
}
.vacdoo-bg-dark-grey{
  background-color: #296679;
}
.vacdoo-bg-light-orange{
  background-color: #f16d0b;
}
.vacdoo-bg-dark-orange{
  background-color: #dc3500;
}
.vacdoo-bg-midium-orange{
  background-color: #f54a12;
}
.section {
  padding: 120px 0;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .section {
      padding: 90px 0; } }
  @media screen and (max-width: 767px) {
    .section {
      padding: 50px 0; } }

.title {
  margin-bottom: 40px; }
  .title p {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0; }
  .title h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 0; }
    .title h2 span {
      font-weight: normal; }
  .title .text {
    text-transform: none; }
  @media screen and (max-width: 1200px) {
    .title {
      margin-bottom: 30px; }
      .title p {
        font-size: 17px; }
      .title h2 {
        font-size: 35px; } }
  @media screen and (max-width: 767px) {
    .title {
      margin-bottom: 10px; }
      .title p {
        font-size: 15px; }
      .title h2 {
        font-size: 22px; } }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #898989;
  width: 100%; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: .25rem;
  padding: 8px 15px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "";
    background: url(../svg/arrow.svg) no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    top: -1px;
    right: 12px;
    background-size: 100%;
    bottom: 0;
    margin: auto;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  max-height: 250px;
  overflow-y: auto; }
  .select-options li {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #c7c7c7;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #ffffff;
      background: #f54f1d; }
    .select-options li.active {
      background: #c7c7c7; }
    .select-options li:last-child {
      border-bottom: none; }
    .select-options li[rel="hide"] {
      display: none; }

button:hover, button:focus {
  outline: none; }

/*.form-control {
  border: none; }*/

.btn {
 /* text-transform: uppercase;
  border: none;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn.btn-round {
    border-radius: 50px; }
  .btn.btn-orange {
    background: #f54f1d;
    color: #ffffff; }
    .btn.btn-orange:hover {
      -webkit-box-shadow: 0 100px 0 #296679 inset;
      box-shadow: 0 100px 0 #296679 inset; }
  .btn.btn-orange-border {
    border: 2px solid #f54f1d;
    color: #f54f1d; }
    .btn.btn-orange-border:hover {
      background: #f54f1d;
      color: #ffffff; }
  .btn.btn-blue {
    background: #296679;
    color: #ffffff; }
    .btn.btn-blue:hover {
      -webkit-box-shadow: 0 100px 0 #f54f1d inset;
      box-shadow: 0 100px 0 #f54f1d inset; }

.fill-orange {
  fill: #f54f1d; }

.caret {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0; }
  .social-icons li {
    display: inline-block;
    padding: 0 3px; }
    .social-icons li a svg {
      width: 28px;
      height: 28px;
      -webkit-transition: fill 0.4s ease;
      -moz-transition: fill 0.4s ease;
      -o-transition: fill 0.4s ease;
      transition: fill 0.4s ease; }
      .social-icons li a svg path {
        -webkit-transition: fill 0.4s ease;
        -moz-transition: fill 0.4s ease;
        -o-transition: fill 0.4s ease;
        transition: fill 0.4s ease; }
      .social-icons li a svg:hover {
        fill: #f54f1d; }
        .social-icons li a svg:hover path {
          fill: #f54f1d; }
  .social-icons.blue-icon li a svg, .social-icons.blue-icon li a path {
    fill: #296679; }

header {
  position: relative;
  z-index: 5; }
  header .top-bar {
    background: #464646;
    color: #ffffff;
    padding: 10px 0; }
    header .top-bar a {
      color: #ffffff; }
      header .top-bar a:hover, header .top-bar a:focus {
        color: #f54f1d; }
    @media screen and (max-width: 550px) {
      header .top-bar .social-icons {
        display: none; } }
  header .main-header .logo {
    margin: 35px 0; }
    header .main-header .logo img {
      max-height: 70px; }
    @media screen and (max-width: 1200px) {
      header .main-header .logo {
        margin: 25px 0; }
        header .main-header .logo img {
          max-height: 60px; } }
    @media screen and (max-width: 991px) {
      header .main-header .logo {
        margin: 15px 0; }
        header .main-header .logo img {
          max-height: 50px; } }
    @media screen and (max-width: 767px) {
      header .main-header .logo {
        margin: 10px 0; }
        header .main-header .logo img {
          max-height: 42px; } }
  header .main-header .bars-icon {
    display: none;
    height: 42px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .main-header .bars-icon .line {
      width: 20px;
      height: 2px;
      background: #f54f1d;
      display: block;
      position: relative; }
      header .main-header .bars-icon .line:before, header .main-header .bars-icon .line:after {
        content: '';
        width: 20px;
        height: 2px;
        background: #f54f1d;
        position: absolute;
        left: 0;
        top: -7px; }
      header .main-header .bars-icon .line:after {
        top: 7px; }
    @media screen and (max-width: 991px) {
      header .main-header .bars-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  header .main-header .info-list {
    display: inline-block;
    list-style: none;
    margin: 0 -15px;
    padding: 0; }
    header .main-header .info-list li {
      display: inline-block;
      padding: 0 15px; }
      header .main-header .info-list li .icon {
        width: 50px;
        display: inline-block;
        vertical-align: middle; }
        header .main-header .info-list li .icon img {
          max-height: 50px; }
        @media screen and (max-width: 1200px) {
          header .main-header .info-list li .icon {
            width: 40px; }
            header .main-header .info-list li .icon img {
              max-height: 40px; } }
        @media screen and (max-width: 991px) {
          header .main-header .info-list li .icon {
            width: 35px; }
            header .main-header .info-list li .icon img {
              max-height: 35px; } }
      header .main-header .info-list li .icon-info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px; }
        header .main-header .info-list li .icon-info h4 {
          font-size: 18px;
          font-weight: 600;
          margin: 0; }
        header .main-header .info-list li .icon-info p {
          margin: 0; }
        @media screen and (max-width: 1200px) {
          header .main-header .info-list li .icon-info h4 {
            font-size: 16px; } }
        @media screen and (max-width: 991px) {
          header .main-header .info-list li .icon-info h4 {
            font-size: 15px; } }
    @media screen and (max-width: 767px) {
      header .main-header .info-list {
        display: none; } }
  header .main-header .navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    header .main-header .navigation .nav-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%;
      border-right: 3px solid #ffffff; }
      header .main-header .navigation .nav-item:last-child {
        border-right: none; }
      header .main-header .navigation .nav-item .nav-item-link {
        white-space: nowrap;
        font-size: 20px;
        font-weight: 600;
        background: #f54f1d;
        color: #ffffff;
        padding: 20px;
        text-transform: uppercase;
        display: block;
        text-align: center; }
        header .main-header .navigation .nav-item .nav-item-link .caret {
          vertical-align: -1px; }
      header .main-header .navigation .nav-item:hover .nav-item-link, header .main-header .navigation .nav-item.active .nav-item-link {
        background: #296679; }
      header .main-header .navigation .nav-item .submenu {
        position: absolute;
        padding: 20px;
        top: 150%;
        left: 0;
        right: 0;
        background: #ffffff;
        pointer-events: none;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        header .main-header .navigation .nav-item .submenu h4 {
          font-size: 20px;
          font-weight: 600;
          margin: 0 0 15px; }
        header .main-header .navigation .nav-item .submenu .menu-list {
          list-style: none;
          padding: 0;
          margin: 0; }
          header .main-header .navigation .nav-item .submenu .menu-list li {
            padding: 5px 0;
            display: inline-block;
            width: 49%;
            vertical-align: top; }
            header .main-header .navigation .nav-item .submenu .menu-list li a {
              color: #1e1e1e; }
              header .main-header .navigation .nav-item .submenu .menu-list li a:hover, header .main-header .navigation .nav-item .submenu .menu-list li a.active {
                color: #f54f1d; }
        header .main-header .navigation .nav-item .submenu .menu-icon {
          list-style: none;
          padding: 20px 0;
          margin: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          header .main-header .navigation .nav-item .submenu .menu-icon li {
            text-align: center;
            width: 16.666667%; }
            header .main-header .navigation .nav-item .submenu .menu-icon li a {
              color: #1e1e1e;
              display: block;
              padding: 15px; }
              header .main-header .navigation .nav-item .submenu .menu-icon li a:hover {
                color: #f54f1d;
                -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.17); }
            header .main-header .navigation .nav-item .submenu .menu-icon li img {
              width: 100px;
              height: 100px;
              margin-bottom: 15px; }
            header .main-header .navigation .nav-item .submenu .menu-icon li h5 {
              margin: 0;
              font-size: 15px;
              font-weight: 600; }
      @media screen and (min-width: 991px) {
        header .main-header .navigation .nav-item:hover .caret {
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); } }
      header .main-header .navigation .nav-item:hover .submenu {
        pointer-events: auto;
        top: 100%;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
      @media screen and (max-width: 1200px) {
        header .main-header .navigation .nav-item .nav-item-link {
          font-size: 16px;
          padding: 15px; } }
    @media screen and (max-width: 991px) {
      header .main-header .navigation {
        display: none; } }

#banner {
  margin-top: -35px;
  position: relative; }
  @media screen and (max-width: 1200px) {
    #banner {
      margin-top: -27px; } }
  @media screen and (max-width: 991px) {
    #banner {
      margin-top: 0; } }
  #banner .parallax-window {
    min-height: 400px;
    width: 100%;
    background: url("../images/banner_main.png") no-repeat center;
    background-size: cover; }
  #banner .banner-text {
    padding: 300px 0 100px; }
    #banner .banner-text .banner-title {
      font-size: 60px;
      font-weight: bold;
      color: #ffffff;
      margin: 0 0 20px;
      text-shadow: 2px 2px 2px #000000; }
    #banner .banner-text .sub-title {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      line-height: 32px;
      max-width: 50%;
      margin: 0 auto;
      text-shadow: 2px 2px 2px #000000; }
    @media screen and (max-width: 1200px) {
      #banner .banner-text {
        padding: 250px 0 80px; }
        #banner .banner-text .banner-title {
          font-size: 50px; }
        #banner .banner-text .sub-title {
          font-size: 19px;
          line-height: 27px; } }
    @media screen and (max-width: 991px) {
      #banner .banner-text {
        padding: 120px 0 70px; }
        #banner .banner-text .banner-title {
          font-size: 40px; }
        #banner .banner-text .sub-title {
          max-width: 80%; } }
    @media screen and (max-width: 767px) {
      #banner .banner-text {
        padding: 80px 0 50px; }
        #banner .banner-text .banner-title {
          font-size: 30px; }
        #banner .banner-text .sub-title {
          font-size: 17px;
          line-height: 22px;
          max-width: 100%; } }
  #banner .search-panel {
    padding: 15px 15px 0;
    background: rgba(255, 255, 255, 0.6); }
    @media screen and (max-width: 768px) {
      #banner .search-panel .pr-0 {
        padding-right: 15px !important; } }
    #banner .search-panel .btn {
      font-size: 15px;
      font-weight: 500;
      height: 50px; }
    #banner .search-panel .form-control {
      height: 50px;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #banner .search-panel .form-control .icon {
        width: 16px;
        display: inline-block; }
      #banner .search-panel .form-control .nice-select {
        position: static;
        width: 100%;
        border: none;
        padding-left: 8px; }
        #banner .search-panel .form-control .nice-select .select-styled {
          left: 40px;
          padding: 12px 0;
          font-size: 15px;
          line-height: 27px;
          color: #898989; }
        #banner .search-panel .form-control .nice-select:hover .select-styled {
          color: #f54f1d; }

.single-block {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .single-block.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #002157;
    visibility: hidden;
    content: "";
    z-index: 3;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .single-block .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    z-index: 4; }
    .single-block .hover .price {
      font-size: 26px;
      font-weight: 600;
      color: #ffffff;
      font-weight: bold;
      visibility: hidden;
      position: relative;
      -moz-transform: translate(0, -30px);
      -o-transform: translate(0, -30px);
      -ms-transform: translate(0, -30px);
      -webkit-transform: translate(0, -30px);
      transform: translate(0, -30px);
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .single-block .hover .price span {
        color: #f54f1d; }
    .single-block .hover .name {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff; }
    .single-block .hover .location {
      font-size: 22px;
      color: #ffffff;
      visibility: hidden;
      position: relative;
      -moz-transform: translate(0, 30px);
      -o-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
      -webkit-transform: translate(0, 30px);
      transform: translate(0, 30px);
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    @media screen and (max-width: 1200px) {
      .single-block .hover .price {
        font-size: 16px; }
      .single-block .hover .name {
        font-size: 20px; }
      .single-block .hover .location {
        font-size: 15px; } }
  .single-block:hover:before {
    visibility: visible;
    opacity: 0.78;
    filter: alpha(opacity=78);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)"; }
  .single-block:hover img {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .single-block:hover .price, .single-block:hover .location {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  .single-block:hover .name {
    color: #f54f1d; }


    .owl-carousel .owl-nav .owl-prev img, .owl-carousel .owl-nav .owl-next img {
      width: 20px;
      height: 20px; }
  .owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 0; }

#popular_trips {
  background-image: url("../images/banner_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  #popular_trips .title {
    color: #ffffff;
    margin-bottom: 40px; }
    #popular_trips .title .text {
      margin-top: 30px;
      font-size: 16px; }
 #popular_trips .trip-carousel {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative; }
#states_view .trip-carousel {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative; }
    /*#popular_trips .trip-carousel .trip-image {
      overflow: hidden; }*/
      #popular_trips .trip-carousel .trip-image img {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    .trip-carousel .owl-nav .owl-prev,  .trip-carousel .owl-nav .owl-next {
       position: absolute;
      width: 40px;
      height: 40px;
      top:-45px;
      bottom: auto;
      background: #f54f1d !important;
      color: #ffffff;
      right: auto;
      left: calc(100% - 105px);
      opacity: 0.58;
      filter: alpha(opacity=58);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=58)";
      -webkit-transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      -o-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease; }
      @media screen and (max-width: 991px) {
        #popular_trips .trip-carousel .owl-nav .owl-prev, #popular_trips .trip-carousel .owl-nav .owl-next {
          width: 40px;
          height: 40px;
          left: 0;
          right: auto; } }
      #popular_trips .trip-carousel .owl-nav .owl-prev:hover, #popular_trips .trip-carousel .owl-nav .owl-next:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    .trip-carousel .owl-nav .owl-next {
      left: calc(100% - 56px);
      right: auto; }
      @media screen and (max-width: 991px) {
        #popular_trips .trip-carousel .owl-nav .owl-next {
          left: auto;
          right: 0; } }

.trip-block {
  font-family: "Poppins";
  text-align: left;
  margin-top: 30px; }
  .trip-block.shadow {
    -webkit-box-shadow: 3px 0 30px rgba(0, 0, 0, 0.08);
    box-shadow: 3px 0 30px rgba(0, 0, 0, 0.08); }
  .trip-block .trip-image {
    overflow: hidden;
    position: relative; 
    height: 240px;/* added to fix height*/
  }
    .trip-block .trip-image img {
      width: 100%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .trip-block .trip-image .date {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 10px;
      height: 60px;
      background-color: #f54f1d;
      color: #ffffff;
      z-index: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .trip-block .trip-image .date h5 {
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center; }
        .trip-block .trip-image .date h5 span {
          font-size: 18px;
          font-weight: normal; }
  .trip-block .trip-details {
    padding: 15px;
    background: #ffffff;
    border-bottom: 3px solid #f54f1d; }
    .trip-block .trip-details .trip-header .left-text {
      float: left;
      width: 70%; }
    .trip-block .trip-details .trip-header .right-text {
      float: left;
      width: 30%; }
    .trip-block .trip-details .trip-header h4 {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px; }
      .trip-block .trip-details .trip-header h4 a {
        color: #000000; }
    .trip-block .trip-details .trip-header h5 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; }
    .trip-block .trip-details .trip-header p {
      color: #c7c7c7;
      font-size: 15px;
      font-weight: 500;
      text-align: right; }
      .trip-block .trip-details .trip-header p span {
        color: #f54f1d;
        font-size: 24px; }
    @media screen and (max-width: 1200px) {
      .trip-block .trip-details .trip-header h4 {
        font-size: 17px;
        line-height: 25px; }
      .trip-block .trip-details .trip-header h5 {
        font-size: 15px;
        line-height: 22px; } }
    .trip-block .trip-details .trip-content {
      margin: 15px 0;
      font-weight: 300; }
    .trip-block .trip-details .trip-footer {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .trip-block .trip-details .trip-footer img {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-right: 10px; }
      .trip-block .trip-details .trip-footer .view-link {
        text-transform: uppercase;
        color: #f54f1d;
        border-bottom: 1px solid; }
        .trip-block .trip-details .trip-footer .view-link:hover {
          color: #296679;
          border-color: #296679; }
  .trip-block:hover .trip-image img {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .trip-block:hover .trip-header h4 a {
    color: #296679; }

@media screen and (max-width: 1200px) {
  #articles .trip-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #articles .trip-footer .right {
      margin-top: 10px; } }

#features {
  position: relative;
  font-family: "Poppins";
  margin-top: 30px; }
  #features .features-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 1200px) {
      #features .features-parallax {
        width: 41.666667%; } }
    @media screen and (max-width: 991px) {
      #features .features-parallax {
        width: 100%; } }
  @media screen and (max-width: 991px) {
    #features .travel-list {
      background-color: #ffffff; } }
  #features .travel-block {
    border: 3px solid #959595;
    padding: 20px; }
    #features .travel-block .agency-image {
      max-width: 90px; }
    #features .travel-block .agency-name {
      font-size: 20px;
      font-weight: 500;
      color: #296679;
      margin-left: 15px; }
    @media screen and (max-width: 991px) {
      #features .travel-block .agency-name {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      #features .travel-block {
        border: none;
        border-bottom: 2px solid #959595 !important; }
        #features .travel-block .agency-image {
          max-width: 75px; }
        #features .travel-block .agency-name {
          font-size: 15px; } }
  #features .agency-info {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left; }
    #features .agency-info li {
      margin: 10px 0; }
      #features .agency-info li img {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 15px; }
      #features .agency-info li a {
        color: #000000;
        font-size: 16px;
        font-weight: 300; }
        #features .agency-info li a:hover {
          color: #f54f1d; }
      @media screen and (max-width: 767px) {
        #features .agency-info li img {
          width: 20px;
          height: 20px; }
        #features .agency-info li a {
          font-size: 14px; } }
  #features .btn-round {
    font-size: 15px;
    font-weight: 500;
    min-width: 200px;
    letter-spacing: 1px; }

#subscriber {
  background-image: url("../images/banner_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0; }
  #subscriber .form-control {
    height: 60px;
    margin-right: 30px; }
  #subscriber .btn {
    white-space: nowrap; }
    #subscriber .btn span {
      display: block; }
      #subscriber .btn span + span {
        display: none; }
    @media screen and (max-width: 991px) {
      #subscriber .btn span {
        display: none; }
        #subscriber .btn span + span {
          display: block; } }
  @media screen and (max-width: 1200px) {
    #subscriber {
      padding: 80px 0; } }
  @media screen and (max-width: 767px) {
    #subscriber {
      padding: 50px 0; }
      #subscriber .form-control {
        height: 38px;
        margin-right: 0;
        border-radius: 0px;
        font-size: 14px; } }

.footer-details {
  background-color: #296679;
  padding: 35px 0 50px;
  color: #ffffff;
  font-family: "Poppins";
  /*font-size: 20px;*/
  letter-spacing: 1px; }
  .footer-details .footer-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 26px;
    margin: 15px 0; }
  .footer-details .footer-navigation {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer-details .footer-navigation li {
      margin: 5px 0; }
      .footer-details .footer-navigation li a {
        color: #ffffff;
        font-weight: normal; }
        .footer-details .footer-navigation li a:hover {
          color: #f54f1d; }
  @media screen and (max-width: 1200px) {
    .footer-details {
      font-size: 18px; }
      .footer-details .footer-title {
        font-size: 22px; } }
  @media screen and (max-width: 767px) {
    .footer-details {
      font-size: 15px; }
      .footer-details .footer-title {
        font-size: 18px; } }

.copyright {
  padding: 10px;
  background: #000000;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  text-align: center; }
  @media screen and (max-width: 1200px) {
    .copyright {
      font-size: 15px; } }
  @media screen and (max-width: 767px) {
    .copyright {
      font-size: 14px; } }

header .mobile-navigation {
  font-family: "Poppins";
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 127px;
  height: calc(100% - 127px);
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.75);
  z-index: 200;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  header .mobile-navigation .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0); }
    header .mobile-navigation .sidebar-nav .menu-link {
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-top: 1px solid #000000; }
      header .mobile-navigation .sidebar-nav .menu-link .menu-link-item {
        padding: 10px 15px;
        color: #000000;
        font-size: 15px;
        display: block;
        position: relative; }
        header .mobile-navigation .sidebar-nav .menu-link .menu-link-item:hover {
          color: #f54f1d; }
        header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu:after {
          content: '';
          position: absolute;
          right: 15px;
          top: -6px;
          bottom: 0;
          margin: auto;
          width: 10px;
          height: 10px;
          border-bottom: 1px solid;
          border-right: 1px solid;
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: rotate 0.4s ease;
          -moz-transition: rotate 0.4s ease;
          -o-transition: rotate 0.4s ease;
          transition: rotate 0.4s ease; }
        header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu + .mob-submenu {
          display: none;
          list-style: none;
          padding-left: 15px;
          margin: 0; }
          header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu + .mob-submenu .menu-link {
            border-top: none; }
        header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu.open {
          color: #f54f1d; }
          header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu.open:after {
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
          header .mobile-navigation .sidebar-nav .menu-link .menu-link-item.menu.open + .mob-submenu {
            display: block; }
  @media screen and (max-width: 767px) {
    header .mobile-navigation {
      top: 100px;
      height: calc(100% - 100px); } }
  header .mobile-navigation.open {
    opacity: 1;
    pointer-events: auto; }
    header .mobile-navigation.open .sidebar-nav {
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }

.agency-header {
  font-family: "Poppins"; }
  @media screen and (max-width: 767px) {
    .agency-header {
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.17); } }
  .agency-header .header {
    background: rgba(225, 225, 225, 0.15);
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .agency-header .header .logo img {
      max-height: 60px; }
    .agency-header .header .right-navigation {
      margin: 0;
      padding: 0;
      list-style: none; }
      .agency-header .header .right-navigation li {
        margin: 0 5px;
        display: inline-block; }
        .agency-header .header .right-navigation li .btn {
          padding: 5px 20px;
          text-transform: capitalize;
          font-weight: 500; }
    @media screen and (max-width: 991px) {
      .agency-header .header {
        padding: 15px; }
        .agency-header .header .logo img {
          max-height: 50px; } }
    @media screen and (max-width: 767px) {
      .agency-header .header {
        background: #ffffff;
        padding: 12px 0; }
        .agency-header .header .logo img {
          max-height: 42px; }
        .agency-header .header .right-navigation li {
          margin: 0 2px; }
          .agency-header .header .right-navigation li .btn {
            padding: 3px 15px;
            font-size: 12px; } }
    @media screen and (max-width: 340px) {
      .agency-header .header .logo img {
        max-height: 38px; } }

.section-agency {
  padding: 10px 0; }
  @media screen and (max-width: 991px) {
    .section-agency {
      padding: 50px 0; } }
  @media screen and (max-width: 767px) {
    .section-agency {
      padding: 30px 0; } }

.agency-title {
  text-align: center;
  font-family: "Poppins";
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 10px; }
  @media screen and (max-width: 991px) {
    .agency-title {
      font-size: 26px; } }
  @media screen and (max-width: 767px) {
    .agency-title {
      font-size: 22px; } }

#agency-banner {
  font-family: "Poppins";
  letter-spacing: 1px; }
  #agency-banner h2 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px; }
  #agency-banner p {
    font-size: 15px; }
  #agency-banner .btn {
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500; }
  #agency-banner ul {
    list-style-type: none;
    counter-reset: section;
    padding-left: 0px; }
    #agency-banner ul li {
      font-size: 15px; }
      #agency-banner ul li:before {
        counter-increment: section;
        content: counters(section, ".") ". ";
        font-size: 20px;
        font-weight: bold; }
  @media screen and (max-width: 991px) {
    #agency-banner h2 {
      font-size: 30px; }
    #agency-banner p {
      font-size: 16px; }
    #agency-banner ul li {
      font-size: 16px; }
      #agency-banner ul li:before {
        font-size: 16px; }
    #agency-banner .btn {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    #agency-banner h2 {
      font-size: 25px; } }

#how-works {
  background: #296679;
  font-family: "Poppins"; }
  #how-works .icon-block {
    text-align: center;
    margin: 20px 0; }
    #how-works .icon-block .icon {
      border-radius: 50%;
      border: 6px solid #ffffff;
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      margin: 0 auto 20px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      #how-works .icon-block .icon svg, #how-works .icon-block .icon img {
        width: 80px;
        height: 80px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    #how-works .icon-block h4 {
      color: #ffffff;
      font-weight: 500;
      font-size: 24px; }
    @media screen and (max-width: 991px) {
      #how-works .icon-block .icon {
        width: 100px;
        height: 100px; }
        #how-works .icon-block .icon svg, #how-works .icon-block .icon img {
          width: 50px;
          height: 50px; }
      #how-works .icon-block h4 {
        font-size: 16px; } }
    #how-works .icon-block:hover .icon {
      background: #ffffff;
      border-color: #09161a; }
      #how-works .icon-block:hover .icon svg {
        fill: #296679; }
        #how-works .icon-block:hover .icon svg path {
          fill: #296679; }

.why-block {
  font-family: "Poppins";
  margin: 15px 0; }
  .why-block svg, .why-block img {
    width: 80px;
    height: 80px; }
  .why-block .why-block-title {
    padding: 15px 8px;
    margin: 10px 0;
    text-transform: uppercase;
    border-bottom: 5px solid;
    background: rgba(225, 225, 225, 0.2);
    font-size: 26px;
    font-weight: 500; }
  .why-block p {
    font-size: 18px; }
  @media screen and (max-width: 991px) {
    .why-block svg, .why-block img {
      width: 70px;
      height: 70px; }
    .why-block .why-block-title {
      font-size: 20px;
      padding: 10px 15px; }
    .why-block p {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .why-block {
      text-align: center; }
      .why-block svg, .why-block img {
        width: 50px;
        height: 50px; }
      .why-block .why-block-title {
        font-size: 18px;
        padding: 10px; }
      .why-block p {
        font-size: 15px; } }
  .why-block.yellow svg {
    fill: #ffcc54; }
  .why-block.yellow .why-block-title {
    color: #ffcc54; }
  .why-block.pink svg {
    fill: #f45d90; }
  .why-block.pink .why-block-title {
    color: #f45d90; }
  .why-block.green svg {
    fill: #73cc72; }
  .why-block.green .why-block-title {
    color: #73cc72; }
  .why-block.lightblue svg {
    fill: #2bc4ff; }
  .why-block.lightblue .why-block-title {
    color: #2bc4ff; }
  .why-block.darkgreen svg {
    fill: #45c372; }
  .why-block.darkgreen .why-block-title {
    color: #45c372; }

#call-us {
  background-image: url(../images/image.jpg);
  background-size: cover;
  background-position: right bottom;
  font-family: "Poppins"; }
  #call-us h3 {
    font-size: 26px;
    font-weight: 500;
    margin: 30px 0; }
  #call-us p {
    font-size: 18px;
    max-width: 50%;
    margin-bottom: 30px; }
  #call-us .btn {
    padding: 10px 30px;
    margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    #call-us h3 {
      font-size: 20px;
      margin: 20px 0; }
    #call-us p {
      font-size: 16px;
      margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    #call-us {
      background-position: left bottom; }
      #call-us h3 {
        font-size: 18px; }
      #call-us p {
        max-width: 100%;
        font-size: 15px; }
      #call-us .btn {
        padding: 10px 25px;
        font-size: 15px; } }

.team-block {
  margin-top: 30px;
  margin-bottom: 30px; }
  .team-block .team-title {
    font-family: "Poppins";
    font-weight: bold;
    /*font-size: 25px;*/
    margin-bottom: 10px;
    text-transform: capitalize; }
  .team-block .teamprofile {
    font-family: "Poppins";
    /*font-size: 20px;*/
    font-weight: normal;
    color: #545454;
    margin-bottom: 15px; }
  .team-block p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: normal;
    color: #8b8a8a;
    margin-bottom: 10px; }
  @media screen and (max-width: 991px) {
    .team-block .team-title {
      font-size: 20px; }
    .team-block .teamprofile {
      font-size: 14px; }
    .team-block p {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    .team-block {
      margin-top: 15px;
      margin-bottom: 15px; }
      .team-block .team-title {
        font-size: 20px;
        margin-top: 15px; }
      .team-block .teamprofile {
        font-size: 18px; }
      .team-block p {
        font-size: 16px; } }

.packages-block {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #e5e5e5; }
  .packages-block .package-image {
    position: relative;
    overflow: hidden; }
    .packages-block .package-image img {
      width: 100%;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .packages-block .package-detail {
    padding: 15px 15px 0; }
    .packages-block .package-detail .package-header .left-text {
      width: 40%;
      float: left;
      margin-bottom: 10px; }
    .packages-block .package-detail .package-header .right-text {
      width: 60%;
      float: right;
      text-align: right;
      margin-bottom: 10px; }
    .packages-block .package-detail .package-header span {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 18px; }
    .packages-block .package-detail .package-header h4 {
      font-family: "Poppins";
      font-weight: bold;
      font-size: 22px; }
    .packages-block .package-detail .package-body {
      padding: 10px 0; }
      .packages-block .package-detail .package-body p {
        text-align: center;
        font-family: "Poppins";
        font-weight: normal;
        font-size: 15px; }
  .packages-block .package-footer {
    padding: 0; }
    .packages-block .package-footer .btn {
      width: 100%;
      border-radius: 0;
      font-size: 20px;
      font-family: "Poppins";
      font-weight: normal;
      padding: 10px; }
  .packages-block:hover .package-image img {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  @media screen and (max-width: 991px) {
    .packages-block .package-detail .package-header span {
      font-size: 12px; }
    .packages-block .package-detail .package-header h4 {
      font-size: 14px; }
    .packages-block .package-footer .btn {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .packages-block {
      margin-top: 15px;
      margin-bottom: 15px; }
      .packages-block .package-detail .package-header span {
        font-size: 14px; }
      .packages-block .package-detail .package-header h4 {
        font-size: 18px; }
      .packages-block .package-body p {
        font-size: 14px; }
      .packages-block .package-footer .btn {
        font-size: 18px; }
      .packages-block .team-title {
        font-size: 20px;
        margin-top: 15px; }
      .packages-block .teamprofile {
        font-size: 18px; } 
  }

.get-in-touch-block {
  margin-top: 30px; }
  .get-in-touch-block svg, .get-in-touch-block img {
    height: auto;
    max-width: 300px;
    padding-right: 50px; }
  .get-in-touch-block .form-control {
    border: 1px solid #b7b7b7;
    /*border-radius: 0;*/ }
  .get-in-touch-block .btn {
    border-radius: 0;
    height: 50px; }
  @media screen and (max-width: 991px) {
    .get-in-touch-block {
      margin-top: 15px; }
      .get-in-touch-block svg, .get-in-touch-block img {
        text-align: center;
        margin-bottom: 30px;
        padding-right: 0px; } 
  }

footer .top-footer {
  padding: 60px 0;
  background: #296679;
  color: #ffffff;
  font-size: 18px; }
  footer .top-footer .info-list {
    list-style: none;
    padding: 0;
    margin: 15px 0; }
    footer .top-footer .info-list li a {
      display: inline-block;
      color: #ffffff; }
      footer .top-footer .info-list li a svg, footer .top-footer .info-list li a img {
        width: 25px;
        height: 25px;
        fill: #ffffff;
        margin-right: 10px; }
  footer .top-footer h3 {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 15px; }
  @media screen and (max-width: 767px) {
    footer .top-footer {
      padding: 30px 0;
      font-size: 15px; }
      footer .top-footer h3 {
        font-size: 22px; } 
  }

footer .agency-cp {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    footer .agency-cp {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .agency-cp .social-icons {
        margin-top: 10px; } 
  }
  input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
  }
  /*state detail start*/
  .title-bar {
  position: relative; }
  .title-bar:before {
    content: '';
    background: rgba(121, 0, 0, 0.45);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
  .title-bar h2 {
    padding: 60px 0 100px;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1; }
  .title-bar .breadcrumblist {
    position: relative;
    z-index: 1;
    background: rgba(40, 101, 120, 0.55); }
    .title-bar .breadcrumblist .breadcrumb {
      background: transparent; }
      .title-bar .breadcrumblist .breadcrumb .breadcrumb-item:before, .title-bar .breadcrumblist .breadcrumb .breadcrumb-item a {
        color: #ffffff; }
      .title-bar .breadcrumblist .breadcrumb .breadcrumb-item.active {
        color: #ffffff; }
  @media screen and (max-width: 767px) {
    .title-bar h2 {
      padding: 30px 0 60px;
      font-size: 22px; } }

.discover-tour-packages .packages-block {
  margin-top: 0; }
  .discover-tour-packages .packages-block .package-image {
    height: 295px; }
  .discover-tour-packages .packages-block .package-detail {
    position: relative;
    padding: 25px 15px; }
    .discover-tour-packages .packages-block .package-detail h3 {
      font-size: 22px;
      font-family: "Montserrat";
      font-weight: 500;
      text-transform: uppercase;
      color: #424646;
      margin-bottom: 10px; }
    .discover-tour-packages .packages-block .package-detail p {
      font-size: 18px;
      font-family: "Montserrat";
      font-weight: normal;
      color: #424646;
      margin-bottom: 10px; }
    .discover-tour-packages .packages-block .package-detail .package-arrow {
      position: absolute;
      right: 0;
      bottom: 0; }
      .discover-tour-packages .packages-block .package-detail .package-arrow a {
        border-radius: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .discover-tour-packages .packages-block .package-detail .package-arrow object {
        width: 30px;
        height: 30px; }

@media screen and (max-width: 991px) {
  .discover-tour-packages .packages-block .package-image {
    height: 180px; }
  .discover-tour-packages .packages-block .package-detail {
    padding: 30px 15px; }
    .discover-tour-packages .packages-block .package-detail h3 {
      font-size: 18px;
      margin-bottom: 5px; }
    .discover-tour-packages .packages-block .package-detail p {
      font-size: 15px;
      margin-bottom: 5px; } }

@media screen and (max-width: 767px) {
  .discover-tour-packages {
    padding: 30px 0 !important; }
    .discover-tour-packages .packages-block .package-image {
      height: auto; }
    .discover-tour-packages .packages-block .package-detail {
      padding: 30px 15px; }
      .discover-tour-packages .packages-block .package-detail h3 {
        font-size: 16px; }
      .discover-tour-packages .packages-block .package-detail p {
        font-size: 14px; }
      .discover-tour-packages .packages-block .package-detail .package-arrow object {
        width: 20px;
        height: 20px; } }
  /* state end*/