body{
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight: 300;
}
ul, li{
	margin:0px;
	padding:0px;
	list-style:none;
}
header {
     
}

/*owl carscarousel*/
.card-img{
     height:210px; overflow:hidden;
}
.col-center {
     margin: 0 auto;
     float: none !important;
}
.carousel {
     margin: 30px auto 60px;
     padding: 0 80px;
}
.carousel .item {
    text-align: center;
     overflow: hidden;
}
.carousel .item h4 {
     font-family: 'Varela Round', sans-serif;
}
.carousel .item img {
     max-width: 100%;
     display: inline-block;
}
.carousel .item .btn {
     border-radius: 0;
     font-size: 12px;
     text-transform: uppercase;
     font-weight: bold;
     border: none;
     background: #a177ff;
     padding: 6px 15px;
     margin-top: 5px;
}
.carousel .item .btn:hover {
     background: #8c5bff;
}
.carousel .item .btn i {
     font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
     margin: 5px;
     text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
     padding: 15px;
     font-size: 13px;
}
.carousel .carousel-control {
     height: 44px;
     width: 44px;
     background: none;   
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
     text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
     margin-left: -3px;
}
.carousel .carousel-control.right i {
     margin-right: -3px;
}
.carousel .carousel-indicators {
     bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
     width: 10px;
     /*height: 10px;*/
     border-radius: 50%;
     margin: 4px;
     border-color: transparent;
}
.carousel-indicators li {     
     background: #ababab;
}
.carousel-indicators li.active {   
     background: #555;
}
/*end carousel*/
.header-top-area {
     background: rgba(34, 67, 74, 1);
}
 .header-top-area .header-top-left .header-top-contact li {
     display: inline-block;
     padding: 16px;
     color: #ffffff;
     font-size: 14px;
     font-weight: 300;
}
 .header-top-area .header-top-left .header-top-contact li i {
     margin-right: 10px;
     color: #28a745;
     font-size: 20px;
}

 .header-top-right .book-btn {
     display: inline-block;
     padding: 16px;
     float: right;
     background: #28a745;
     transition: all ease-in-out 0.3s;
}
 .header-top-right .book-btn a {
     color: #ffffff;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 500;
}
 .header-top-right .book-btn:hover {
     background: #f17b37;
}
.navbar-expand-lg .header-bottom-area{
	display:inline-block !important;
}
 .header-bottom-area {
     transition: all ease-in-out 0.5s; 
}
 .header-bottom-area .logo-area {
     padding: 0px 0px;
}
 .header-bottom-area .main-menu > li {
     display: inline-block;
     padding: 10px 0 10px 20px;
     position: relative;
}
 .header-bottom-area .main-menu > li > a {
     display: block;
     color: #ffffff;
     font-size: 15px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
}
 
 .header-bottom-area .main-menu > li > a i {
     margin-left: 6px;
}
 .header-bottom-area .main-menu > li ul.dropdown {
     background: #ffffff repeat scroll 0 0;
     left: 42px;
     position: absolute;
     top: 81% !important;
     width: 200px;
     z-index: 999;
     opacity: 0;
     visibility: hidden;
     transition: all ease-in-out 0.2s;
     transform-origin: 0 0 0;
     position: absolute;
     text-align: left;
     transform: scaleY(0.4);
}
 .header-bottom-area .main-menu > li ul.dropdown li {
     border-bottom: 1px solid #eef0f2;
}
 .header-bottom-area .main-menu > li ul.dropdown li:last-child {
     border-bottom: 0;
}
 .header-bottom-area .main-menu > li ul.dropdown li a {
     font-size: 13px !important;
     text-transform: uppercase;
     font-weight: 500;
     display: block;
     padding: 14px 18px;
     color: #454545;
     transition: all ease-in-out 0.3s;
}
 .header-bottom-area .main-menu > li ul.dropdown li a:hover {
     color: #28a745;
}
 .header-bottom-area .main-menu > li:hover ul.dropdown {
     opacity: 1;
     visibility: visible;
     top: 100%;
     transform: scaleY(1);
}
 .header-bottom-area .main-menu > li:hover > a {
     color: #28a745;
}

 .header-bottom-area .main-menu > li.active a {
     color: #28a745;
}

 .header-bottom-area.sticky {
     position: none;
     top: 0;
     transition: all 0.5s ease-in-out 0s;
     width: 100%;
     z-index: 99;
}
 .mean-container .mean-bar {
     position: relative;
}
 .mean-container .mean-bar:before {
     color: #ffffff;
     content: "menu";
     font-size: 15px;
     left: 10px;
     position: absolute;
     text-transform: uppercase;
     top: 15px;
     font-weight: 700;
}
#confirm-success.bg-success-custom{color:#2e7d32;background-color:#a5d6a7;border-color:#ebccd1; margin:5px 0px;padding:5px;text-align:center}
#confirm-failure.bg-danger-custom{color:#a94442;background-color:#f2dede;border-color:#ebccd1; margin:5px 0px;padding:5px;text-align:center}
.footer-main {
     background: rgba(34, 67, 74, 1);
}
.footer-link li a{
	color:#fff;
	text-decoration:none;
}
.footer-main .contact-item{
	width:100%; float:left;
}
.footer-main .col-md-3 .contact-item:nth-of-type(1){
	padding-bottom:10px;
}
.footer-main .contact-item .icon{
	float:left; padding-right:5px; padding-bottom:10px;
}
.copyright{
	background: rgb(56, 96, 105);
	color:#fff;
}

/*for artical pages*/
.artical-area h2{
     font-size: 26px;
     font-weight:500;    
     padding-bottom:8px;
     margin-bottom:18px;
     color:#22434a;
     line-height: 36px;
}
.artical-details-area h1{
     font-size: 2.2rem;  
     border-bottom:1px solid #ccc;
     padding-bottom:8px;
     margin-bottom:18px; 
     line-height: 36px;
}
.artical-area h2 span .badge {
    font-size: 12px;
}
.artical-area h4{
     font-weight:800;
     border-bottom:1px solid #ccc;
     padding-bottom:6px;
     margin-bottom:30px;
     color:#10b098;
}
.card .artical-box:not(:first-of-type) {
    margin-top: 15px;
}

.artical-box .artical-box-content h3{
     margin:0px 0px 12px 0px;
     padding:0px;
     line-height:18px;
}
.artical-box .artical-box-content h3 a{
     font-size:22px;
     text-decoration:none;
     font-weight:500;
     color:#032c59;
     line-height: 26px;
}
.artical-box .artical-box-content a.readmore{
     display:inline-block;
     background-color:#28a745;
     color:#fff;
     text-decoration:none;
     margin-top:0px;
     font-size:12px;
     padding:6px 12px;
}
.artical-box .artical-box-content a.readmore:hover{
     background-color:#22434a;
}
.artical-detail-img{
     margin-bottom:30px;
}
.artical-details-area h5{
     font-size:18px;
     font-weight:700;
     margin-bottom:10px;
}
.artical-details-area ul.detail{
     margin:0px;
     padding:0px;
}
.artical-details-area ul.detail li{
     margin:0px 0px 10px 0px;
     padding:0px 0px 0px 20px;
     position:relative;
}
.artical-details-area ul.detail li:before{
     position:absolute;
     content:"";
     width:8px;
     height:8px;
     background-color:#333;
     left:0px;
     top:4px;
     border-radius:100px;
}
.article-content a {
    color: #10b098;
}
.related-articles{
     background-color:#f5f5f5;
     display:inline-block;
     width: 100%;
}
.related-articles h2{
     margin:0px 0px 15px 0px;
     padding:15px 0px 15px 15px;
     line-height:18px;
     font-size:20px;
     font-weight:700;
     border-bottom:1px solid rgba(0,0,0,0.1);
}
.related-articles ul{
     margin:15px;
     padding:0px;
}
.related-articles ul li{
     line-height:18px;
     margin-bottom:10px;
     position: relative;
     padding-left: 15px;
}
.related-articles ul li a{
     color: #333;
     text-decoration: none;
     font-size: 14px;
     padding: 0px 0 10px 0;
     border-bottom: 1px dashed #ccc;
     display: inline-block;
}
.related-articles ul li::before {
    position: absolute;
    content: "\f0da";
    top: 0px;
    left: 0px;
    font-family: 'FontAwesome';
}
.related-articles ul li a:hover{
     color:#10b098;
}
.related-articles ul li:last-child a {
    border-bottom: 0px;
    padding-bottom: 0px;
}
.article-content ul, .article-content ol {
    margin-left: 15px;
}
.article-content ul li {
    list-style: initial;
    margin: 15px;
    font-size: 1rem;
}
.article-content ol li {
    list-style: inherit;
    margin: 15px;
    font-size: 1rem;
}
.article-content img {
    height: auto !important;
    max-width: 100% !important;
}
/*--------------------------------------------------------------
     Faq Area
--------------------------------------------------------------*/
.faq-box .card .card-header .btn .fa-chevron-up {
     display: inline-block;
     color: #fff;
}
.faq-box .card .card-header .btn.collapsed .fa-chevron-up {
     display: none;
}
.faq-box .card .card-header .btn.collapsed .fa-chevron-down{
     display: inline-block;
}
.faq-box .card .card-header .btn .fa-chevron-down {
     display: none;
}
.faq-box .card .card-header {
     background-color: transparent;
}
.faq-box .card .card-header .btn.collapsed {
     color: #333 !important;
     padding: 6px 15px;
     background-color: #f8f8f8;
     border: 1px solid #e9eae9;
     line-height: 18px;
}
.faq-box .card {
     border: 0px;
     border-radius: 0px;
     margin-bottom: 2px;
}
.faq-box .card:last-child {
     margin-bottom: 0px;
}
.faq-box .card .card-header {
     padding: 0px;
}
.faq-box .card .card-body {
     line-height: 24px;
     padding: 15px;
     color: #333;
     margin-top: 1px;
     border: 1px solid #e9eae9;
}
.faq-box .card .card-header .btn {
     color: #fff !important;
     padding: 6px 15px;
     line-height: 18px;
     background-color: #fff;
     border: 1px solid #10b098;
     background-color:#22434a;
     border-bottom: 0;
}
.faq-box .card .card-body ul{
     margin-left:15px;
}
.faq-box .card .card-body ul li{
     padding-bottom:6px;
     list-style:circle;
     line-height:26px;
}
.faq-box .card .card-body ul li:last-child{
     padding-bottom:0px;
}
.faq-box .card .card-body ul li a{
     color:#333;
     text-decoration:none;
     font-size:13px;
}
.faq-box .card .card-body ul li a:hover{
     color:#22434a;
}
.faq-box .card .card-body ul li.active a{
     color:#22434a;
     font-weight:600;
}
