<div class="col-lg-3"><?php  /*<div class="col-lg-12">*/ ?>
	<strong style='display: inline;!important'><?php echo $opts['ratingtype']; ?></strong>
	<div class="rating">
		<div> 
			<?php //echo __('Rating:'); ?>
			<?php
			$rating = $rating['rating'];					
			if(isset($rating))
			{
				for( $i=0 ;$i<ceil($rating);$i++)
				{
					echo '<span class="fa fa-star text-warning" ></span>'; 
				}  
				for( $j=0 ;$j<(5-ceil($rating));$j++)
				{
					echo '<span class=" fa fa-star-o text-warning" ></span>'; 
				}
			}
			?>
		</div>
	</div>
</div>