<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="message mb-3"><?php echo $this->Session->flash();?></div>
			<h4><?php echo $h3; ?></h4>
			<div class="row">
				<div class="col-md-7 text-justify"><hr>				
					<?php echo $message3; ?>
				<p class="mt-3"><small>If you do not see email in your Inbox, check other folders it may be, like Junk, Spam, Social or similar.</small></p>
				</div>
			</div>
		</div>
	</div>
</div>